---
const { title, description, downloadUrl } = Astro.props.frontmatter;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <Header title={title} description={description} downloadUrl={downloadUrl} />
    <div
      class="container max-w-4xl p-8 mx-auto my-0 text-left bg-white md:my-10 md:p-14 md:border md:border-gray-300 md:rounded-lg md:shadow-xl"
    >
      <slot />
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
  body {
    font-family: "Lexend", sans-serif;
    @apply text-slate-700 text-base;
  }

  h1 {
    @apply text-indigo-800 text-2xl;
  }

  h2 {
    @apply text-indigo-800 text-2xl  mt-5 mb-1;
  }

  p {
    @apply text-slate-700;
    font-family: "Montserrat", sans-serif;
  }
</style>
